[build-system]
build-backend = "hatchling.build"
requires = [
  "hatch-vcs==0.5",
  "hatchling==1.28",
]

[project]
name = "tap-bitly"
description = "Singer tap for Bitly, built with the Meltano SDK for Singer Taps."
readme = "README.md"
keywords = [
  "Bitly",
  "ELT",
  "singer.io",
]
license = "Apache-2.0"
license-files = [ "LICENSE" ]
requires-python = ">=3.12"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dynamic = [
  "version",
]
dependencies = [
  "singer-sdk~=0.53.2",
]
[[project.authors]]
name = "Edgar Ramirez-Mondragon"
email = "edgarrm358@gmail.com"
[[project.maintainers]]
name = "Edgar Ramirez-Mondragon"
email = "edgarrm358@gmail.com"
[project.scripts]
tap-bitly = "tap_bitly.tap:TapBitly.cli"
[project.urls]
Documentation = "https://github.com/reservoir-data/tap-bitly#readme"
Homepage = "https://github.com/reservoir-data/tap-bitly"
Repository = "https://github.com/reservoir-data/tap-bitly"

[dependency-groups]
dev = [
  { include-group = "testing" },
  { include-group = "typing" },
]
testing = [
  "deptry>=0.23",
  "pytest>=9",
  "pytest-durations>=1.6",
  "pytest-github-actions-annotate-failures>=0.3",
  "singer-sdk[testing]",
  "syrupy>=5",
]
typing = [
  "mypy>=1.18",
  "ty>=0.0.1a21",
  "types-requests>=2.32",
]

[tool.hatch]
[tool.hatch.version]
source = "vcs"

[tool.uv]
required-version = ">=0.8"
prerelease = "allow"
[tool.uv.sources]
singer-sdk = { git = "https://github.com/meltano/sdk.git", rev = "feat/get_http_request" }

[tool.ruff]
line-length = 88
preview = true
[tool.ruff.lint]
select = [
  "ALL",
]
ignore = [
  "COM812", # missing-trailing-comma
  "DJ",     # flake8-django
  "FIX002", # line-contains-todo
  "ISC001", # single-line-implicit-string-concatenation
]
per-file-ignores."noxfile.py" = [
  "ANN",
]
per-file-ignores."tests/*" = [
  "ANN201", # missing-return-type-public-function
  "S101",   # assert
  "SLF001", # private-member-access
]
unfixable = [
  "ERA001", # commented-out-code
]
isort.known-first-party = [
  "tap_bitly",
]
isort.required-imports = [
  "from __future__ import annotations",
]
pydocstyle.convention = "google"

[tool.deptry]
[tool.deptry.package_module_name_map]
mypy = "mypy"
ty = "ty"
types-requests = "requests"
[tool.deptry.per_rule_ignores]
DEP002 = [
  "deptry",
  "mypy",
  "pytest",
  "pytest-durations",
  "pytest-github-actions-annotate-failures",
]

[tool.pyproject-fmt]
table_format = "long"

[tool.pytest]
addopts = [ "-vvv", "-ra", "--strict-config", "--strict-markers" ]
filterwarnings = [
  "error",
  "default:No records were available to test:UserWarning",
  "default:No records returned in stream 'bsds':UserWarning",
  "default:No records returned in stream 'campaigns':UserWarning",
  "default:No records returned in stream 'channels':UserWarning",
  "default:Fields in transformed catalog but not in records:UserWarning",
  "default:'asyncio.iscoroutinefunction' is deprecated:DeprecationWarning",
]
log_level = "INFO"
minversion = "9"
testpaths = [ "tests" ]
xfail_strict = true

[tool.tox]
min_version = "4.43"
requires = [ "tox", "tox-uv" ]
env_list = [
  "dependencies",
  "typing",
  { product = [
    { prefix = "3.", start = 12 },
  ] },
]
[tool.tox.env]
dependencies.dependency_groups = [ "testing" ]
dependencies.commands = [ [ "deptry", "." ] ]
typing.dependency_groups = [ "testing", "typing" ]
typing.commands = [
  [ "ty", "check" ],
  [ "mypy", "tap_bitly", "tests" ],
]

[tool.tox.env_run_base]
runner = "uv-venv-lock-runner"
pass_env = [ "TAP_BITLY_*" ]
set_env = { "PYO3_USE_ABI3_FORWARD_COMPATIBILITY" = "1" }
dependency_groups = [ "testing" ]
commands = [ [ "pytest", { replace = "posargs", default = [ "tests" ], extend = true } ] ]

[tool.mypy]
enable_error_code = [ "ignore-without-code", "redundant-expr", "truthy-bool" ]
strict = true
warn_redundant_casts = true
warn_return_any = true
warn_no_return = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true
