[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core==1.6",
  "poetry-dynamic-versioning",
]

[tool.poetry]
name = "tap-bitly"
version = "0.0.0"
description = "`tap-bitly` is a Singer tap for Bitly, built with the Meltano SDK for Singer Taps."
authors = ["Edgar Ramirez-Mondragon <edgarrm358@gmail.com>"]
keywords = [
  "ELT",
  "singer.io",
  "Bitly",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/edgarrmondragon/tap-bitly"
repository = "https://github.com/edgarrmondragon/tap-bitly"
documentation = "https://github.com/edgarrmondragon/tap-bitly#readme"

[tool.poetry.dependencies]
python = "<3.12,>=3.8"
singer-sdk = "~=0.32.0"

[tool.poetry.group.dev.dependencies]
singer-sdk = {version = "*", extras = ["testing"]}

[tool.poetry.scripts]
# CLI declaration
tap-bitly = "tap_bitly.tap:TapBitly.cli"

[tool.ruff]
ignore = [
  "ANN101", # missing-type-self
  "DJ",     # flake8-django
  "FIX002", # line-contains-todo
]
line-length = 88
select = ["ALL"]
src = ["tap_bitly", "tests"]
target-version = "py38"
unfixable = [
  "ERA001",  # commented-out-code
]

[tool.ruff.per-file-ignores]
"noxfile.py" = ["ANN"]
"tests/*" = [
  "ANN201", # missing-return-type-public-function
  "S101",   # assert
  "SLF001", # private-member-access
]

[tool.ruff.isort]
known-first-party = ["tap_bitly"]
required-imports = ["from __future__ import annotations"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = ["backoff.*"]

[tool.poetry-dynamic-versioning]
enable = true
format-jinja = """
    {%- if distance == 0 -%}
        {{ serialize_pep440(base, stage, revision) }}
    {%- elif revision is not none -%}
        {{ serialize_pep440(base, stage, revision + 1, dev=distance, metadata=[commit]) }}
    {%- else -%}
        {{ serialize_pep440(bump_version(base), stage, revision, dev=distance, metadata=[commit]) }}
    {%- endif -%}
"""
metadata = true
style = "pep440"
vcs = "git"
