name: Test tap-bitly

on:
  push:
    branches: [main]
    paths:
    - tap_bitly/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
    - tap_bitly/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.28
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.43.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  build-package:
    name: Build & verify package
    runs-on: ubuntu-latest
    outputs:
      supported-python-versions: ${{ steps.baipp.outputs.supported_python_classifiers_json_array }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
        id: baipp

  test:
    name: Integration
    runs-on: ubuntu-24.04
    needs: build-package
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        python-version: ${{ fromJson(needs.build-package.outputs.supported-python-versions) }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        TAP_BITLY_TOKEN: ${{ secrets.TAP_BITLY_TOKEN }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.python-version }} -- --junit-xml=junit.xml

  lint:
    name: Static analysis
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        version: ${{ env.UV_VERSION }}
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --from tox==${{ env.TOX_VERSION }} tox
    - name: Static type checking
      run: tox -e typing
    - name: Unused, missing and transitive dependencies
      run: tox -e dependencies
